# Training & Server related

training/test_images/**
!training/test_images/.gitkeep
training/training_images/**
!training/training_images/.gitkeep
*.pem
*.jwk
*.pt
*.npy

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
