# Training & Server related

training/test_images/**
!training/test_images/.gitkeep
training/training_images/**
!training/training_images/.gitkeep
*.pem
*.jwk
*.pt
*.npy
__pycache__

# Front related
.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
